fastapi
uvicorn
pydantic
python-multipart
trimesh
numpy
scipy
xatlas
segment-anything
torch
torchvision
opencv-python
requests
diffusers
transformers
accelerate
langchain
langchain-openai
scikit-image
shapely
mapbox_earcut
rtree
fast_simplification
networkx
scikit-learn
fuzzywuzzy
